

.SearchInput{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding:10px 15px;
    width:500px;
    margin:0px auto;
    margin-top: 2px;
    border-radius: 999px;
}
.SearchInput>input{
    flex:1;
    padding: 8px 13px;
    font-size: medium;
    border:0;
    outline: 0;
}
